* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , 500px);
    gap: 20px;
}

.product {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #ddd;
}

.details {
    padding: 15px;
    text-align: center;
}

.details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.details p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 767px) {

    .product {
        width: 100%;
        height: auto;
        border-bottom: none;
    }

    .details {
        padding: 0;
        margin-bottom: 20px;
    }
    
    button {
        margin-top: 0;
    }
    
    h1 {
        font-size: 20px;
    }
    
    .container {
        grid-template-columns: 1fr;
    }
}
